<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Nectar InfoTech</title>
    <link rel="stylesheet" type="text/css" href="/static/assets/css2/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/assets/css2/font-awesome.css">

    <link rel="stylesheet" href="/static/assets/css2/templatemo-lava.css">

    <link rel="stylesheet" href="/static/assets/css2/owl-carousel.css">
    <link rel="shortcut icon" href="/static/assets/img/5.png" type="image/x-icon">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">
                            <img style = "position: absolute; top: -30px; left: -1px;"  width="150" src='/static/assets/img/2.svg'>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#welcome" class="menu-item">Home</a></li>
                            <li class="scroll-to-section"><a href="#about" class="menu-item">About</a></li>
                            <li class="scroll-to-section"><a href="#testimonials" class="menu-item">Testimonials</a>
                            </li>
                            <li class="scroll-to-section"><a href="#clients" class="menu-item">Clients</a></li>
                            <li class="scroll-to-section"><a href="#contact-us" class="menu-item">Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">
        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1>Oops! <em>404</em></h1>
                        <p> Moving to a fun place!
                        </p>
                        <a href="/" class="main-button-slider">Go back home</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- jQuery -->
    <script src="/static/assets/js2/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/assets/js2/popper.js"></script>
    <script src="/static/assets/js2/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/static/assets/js2/owl-carousel.js"></script>
    <script src="/static/assets/js2/scrollreveal.min.js"></script>
    <script src="/static/assets/js2/waypoints.min.js"></script>
    <script src="/static/assets/js2/jquery.counterup.min.js"></script>
    <script src="/static/assets/js2/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="/static/assets/js2/custom.js"></script>

</body>

</html>